
img.preview {
  width: 140px;
  height: 140px;
}

.dish-item {
  width: 130px;
  height: 150px;
  float: left;
  margin: 10px;
  .image {
    width: 130px;
    height: 130px;
    overflow: hidden;
    img {
      height: 130px;
    }
  }
  .name {
    text-align: center;
    line-height: 20px;
  }
}

.dish-list {
  // Fix clear issue of parent height
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
  *zoom: 1;
}

.col-xs-12.ui-sortable-placeholder {
  height: 240px !important;
}