<!DOCTYPE html>
<html>
<head>
    <title>Customer Order Mode</title>
    <link href="/assets/stylesheets/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/assets/stylesheets/bootstrap-theme.css" rel="stylesheet" media="screen">
    <link href="/assets/stylesheets/order/menu.css" rel="stylesheet" media="screen">
</head>
<body>
<h1>Stall Name</h1>

<div id="category-list">
</div>

<div id="ordered-list">
</div>

<a id="button-check-out" href="javascript:" onclick="checkOut()">Check Out</a>

<div id="ordered-list-placeholder">
</div>

<script type="text/html" id="category-template">
    <div id="category-<%= categoryId %>" class="category">
        <h3><%= name %></h3>
        <div id="dish-list-<%= categoryId%>" class="dish-list">
            <% _.each(dishes, function(dish) { %>
            <div id="dish-item-<%= dish['dishId'] %>" class="dish-item" onclick="showDish(<%= dish['dishId'] %>)">
                <div class="image">
                    <img src="/assets/uploads/<%= dish['image'] %>" alt="<%= dish['name'] %>">
                </div>
                <div class="name">
                    <%= dish["name"] %>
                </div>
                <div class="price">
                    $ <span><%= dish["finalPrice"] %></span>
                </div>
            </div>
            <% }); %>
        </div>
    </div>
</script>

<script type="text/html" id="dish-template">
    <div id="dish-<%= dishId %>" class="show-dish">
        <div class="name">
            <%= name %>
        </div>
        <div class="image">
            <img src="/assets/uploads/<%= image %>" alt="<%= name %>">
        </div>
        <div class="description">
            <%= description %>
        </div>
        <div class="divQuantity">
            <input name="quantity" class="quantity" value="1">
        </div>
        <div class="divNote">
            <input name="note" class="note" value="">
        </div>
        <div class="divButtons">
            <input type="button" value="Add!" onclick="orderDish(<%= dishId %>)">
            <input type="button" value="Cancel" onclick="cancelOrder()">
        </div>
    </div>
</script>

<script type="text/html" id="ordered-dish-template">
    <% dish = findDish(dishId); %>
    <div class="ordered-dish">
        <a href="javascript:" class="remove" onclick='deleteOrderItem(<%= orderItemId %>)'>
            <span class="glyphicon glyphicon-remove-sign"></span>
        </a>
        <div class="image">
            <img src="/assets/uploads/<%= dish['image'] %>" alt="<%= name %>">
        </div>
        <div class="detail">
            <div class="title">
                <span class="name"><%= dish['name'] %></span>
                <span>* <%= quantity %></span>
            </div>
            <div class="note">
                <%= note %>
            </div>
        </div>
        <!--
        <div class="title">
            <%= quantity %>
        </div>
        <div class="note">
            <%= note %>
        </div>
        <button type='button' onclick='deleteOrderItem(<%= orderItemId %>)'>Delete</button>
        -->
    </div>
</script>

<script src="/assets/javascripts/jquery-2.0.3.min.js"></script>
<script src="/assets/javascripts/bootstrap.min.js"></script>
<script src="/assets/javascripts/underscore-min.js"></script>
<script src="/assets/javascripts/common.js"></script>
<script src="/assets/javascripts/order/common.js"></script>
<script src="/assets/javascripts/order/menu.js"></script>
</body>
</html>