<!DOCTYPE html>
<html>
<head>
    <title>Menu Item</title>
    <link href="/assets/stylesheets/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/assets/stylesheets/main.css" rel="stylesheet" media="screen">
    <link href="/assets/stylesheets/stall/menu.css" rel="stylesheet" media="screen">
    <style>
        select {
            width: 80px;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.428571429;
            color: #555555;
            vertical-align: middle;
            background-color: #ffffff;
            border: 1px solid #cccccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        }
    </style>
</head>
<body>
<h1>Dish</h1>
<div id="contents">
    <div class="row">
        <div class="col-xs-12">
            <div id="dish-display" class="widget">
                <div class="title">
                    <span class="icon">
                        <span class="glyphicon glyphicon-book"></span>
                    </span>
                    <h3>Information</h3>
                    <span class="stall-info-edit button">
                        <a href="javascript:" onclick="deleteDish()">
                            <span class="glyphicon glyphicon-cog"></span>
                            Delete
                        </a>
                    </span>
                    <span class="stall-info-edit button">
                        <a href="javascript:" onclick="editDish()">
                            <span class="glyphicon glyphicon-cog"></span>
                            Edit
                        </a>
                    </span>
                </div>
                <div class="content">
                    <table id="dish-display-table" class="table table-striped">
                    </table>
                </div>
            </div>
            <div id="dish-edit" class="widget hidden">
                <div class="title">
                    <span class="icon">
                        <span class="glyphicon glyphicon-book"></span>
                    </span>
                    <h3>Edit</h3>
                    <span class="stall-info-edit button">
                        <a href="javascript:" onclick="saveDish()">
                            <span class="glyphicon glyphicon-ok"></span>
                            Save
                        </a>
                    </span>
                </div>
                <div class="content">
                    <form id="dish-edit-form">
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<script type="text/html" id="dish-display-template">
    <tbody>
    <tr>
        <td>Name</td>
        <td><%= name %></td>
    </tr>
    <tr>
        <td>Image</td>
        <td>
            <img src="/assets/uploads/<%= image %>" class="preview img-rounded">
        </td>
    </tr>
    <tr>
        <td>Description</td>
        <td><%= description %></td>
    </tr>
    <tr>
        <td>Price</td>
        <td><%= displayMoney(price) %></td>
    </tr>
    <tr>
        <td>Promotional Price</td>
        <td>
            <%= displayMoney(promotionalPrice) %>
            <span>
                <% if (promotionActivated) print("(Promotion Activated!)");
                   else print("(Promotion Not Activated.)"); %>
            </span>
        </td>
    </tr>
    <tr>
        <td>Promotion Start</td>
        <td><%
            print(Math.floor(promotionStart/60));
            print(":");
            print(promotionStart%60<10?"0"+promotionStart%60:promotionStart%60);
            %>
        </td>
    </tr>
    <tr>
        <td>Promotion End</td>
        <td>
            <%
            print(Math.floor(promotionEnd/60));
            print(":");
            print(promotionEnd%60<10?"0"+promotionEnd%60:promotionEnd%60);
            if (promotionEnd < promotionStart) {
                print(" (+1)");
            }
            %>
        </td>
    </tr>
    <tr>
        <td>Options</td>
        <td><%= options %></td>
    </tr>
    </tbody>
</script>

<script type="text/html" id="dish-edit-template">
    <div class="form-group">
        <label for="inputName">Name</label>
        <input type="text" class="form-control" id="inputName" name="name"
               placeholder="Dish Name" value="<%= name %>">
    </div>
    <div class="form-group">
        <label>Image</label>
        <input type="hidden" class="form-control" id="inputImage" name="image"
               placeholder="Image" value="<%= image %>">
        <div>
            <img id="imgImage" src="/assets/uploads/<%= image %>" class="preview img-rounded">
        </div>
        <div class="form-control">
            <input type="file" name="file" id="inputFile" onchange="chooseImage()">
        </div>
    </div>
    <div class="form-group">
        <label for="inputDescription">Description</label>
        <textarea class="form-control" id="inputDescription"
                  name="description" placeholder="Description"><%= description %></textarea>
    </div>
    <div class="form-group">
        <label for="inputPrice">Price (Note: input 1234 for $12.34)</label>
        <input type="text" class="form-control" id="inputPrice" name="price"
               placeholder="List Price" value="<%= price %>">
    </div>
    <div class="form-group">
        <label for="inputPromotionalPrice">Promotional Price (Note: input 1234 for $12.34)</label>
        <input type="text" class="form-control" id="inputPromotionalPrice" name="promotionalPrice"
               placeholder="Promotional Price" value="<%= promotionalPrice %>">
    </div>
    <div class="form-group">
        <label>Promotion Period</label>
        <div>
            from
            <select id="startHour">
                <% for (var i = 0; i < 24; i++) { %>
                <option value="<%- i %>"><%- i %></option>
                <% } %>
            </select>
            <select id="startMinute">
                <% for (var i = 0; i < 60; i++) { %>
                <option value="<%- i %>"><%- i %></option>
                <% } %>
            </select>
            to
            <select id="endHour">
                <% for (var i = 0; i < 24; i++) { %>
                <option value="<%- i %>"><%- i %></option>
                <% } %>
            </select>
            <select id="endMinute">
                <% for (var i = 0; i < 60; i++) { %>
                <option value="<%- i %>"><%- i %></option>
                <% } %>
            </select>
            <p>If the end time is before the start time, the system will treat the end time as in the next day.</p>
        </div>
    </div>
    <div class="form-group hidden">
        <label for="inputPromotionEnd">Promotion End</label>
        <input type="text" class="form-control" id="inputPromotionStart" name="promotionStart"
               placeholder="Promotion Start" value="<%= promotionStart %>">
        <input type="text" class="form-control" id="inputPromotionEnd" name="promotionEnd"
               placeholder="Promotion End" value="<%= promotionEnd %>">
    </div>
    <div class="form-group">
        <label for="inputOptions">Options (Note: separated by |)</label>
        <input type="text" class="form-control" id="inputOptions" name="options"
               placeholder="Options" value="<%= options %>">
    </div>
</script>

<script type="text/html" id="pop-up-confirm-delete">
    <div class="widget">
        <div class="title">
            <span class="icon">
                <span class="glyphicon glyphicon-cog"></span>
            </span>
            <h3>Delete Dish?</h3>
            <span class="button">
                <a href="javascript:" onclick="closePopBox()">
                    <span class="glyphicon glyphicon-remove"></span>
                    Cancel
                </a>
            </span>
        </div>
        <div class="content">
            <p>Do you really want to delete the dish <strong><%= name %></strong>?</p>
            <p>NOTE: This action cannot be undo!</p>
            <p>
                <a href="javascript:" class="btn btn-default" onclick="doDelete()">
                    <span class="glyphicon glyphicon-trash"></span>
                    Confirm Delete
                </a>
            </p>
        </div>
    </div>
</script>

<script src="/assets/javascripts/jquery-2.0.3.min.js"></script>
<script src="/assets/javascripts/bootstrap.min.js"></script>
<script src="/assets/javascripts/underscore-min.js"></script>
<script src="/assets/javascripts/common.js"></script>
<script src="/assets/javascripts/stall/common.js"></script>
<script src="/assets/javascripts/stall/dish.js"></script>
</body>
</html>