<!DOCTYPE html>
<html>
<head>
    <title>Menu</title>
    <link href="/assets/stylesheets/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/assets/stylesheets/bootstrap-theme.css" rel="stylesheet" media="screen">
    <link href="/assets/stylesheets/main.css" rel="stylesheet" media="screen">
</head>
<body>
<h1>Dish</h1>
<div id="contents">
    <div class="row">
        <div class="col-xs-6">
            <div class="widget">
                <div class="title">
                    <span class="icon">
                        <span class="glyphicon glyphicon-book"></span>
                    </span>
                    <h3>System Monitor</h3>
                </div>
                <div class="content">
                    <p>lalala</p>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="/assets/javascripts/jquery-2.0.3.min.js"></script>
<script src="/assets/javascripts/bootstrap.min.js"></script>
<script src="/assets/javascripts/underscore-min.js"></script>
<script src="/assets/javascripts/common.js"></script>
<script src="/assets/javascripts/stall/common.js"></script>
<script src="/assets/javascripts/stall/dish.js"></script>
</body>
</html>