<!DOCTYPE html>
<html>
<head>
    <title>Order Display Mode</title>
    <link href="/assets/stylesheets/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/assets/stylesheets/bootstrap-theme.css" rel="stylesheet" media="screen">
    <link href="/assets/stylesheets/stall/orderstatus.css" rel="stylesheet" media="screen">
</head>
<body>
<h1>Stall Name</h1>
<div id="order-list">
</div>
<script type="text/html" id="order-template">
    <div class="order-item">
        <h2><%= accountString %></h2>
        <div class="order-status <% if (status == 2) print('ready') %>">
            <% if (status == 2) print('Ready'); else print("Waiting") %>
        </div>
        <div class="order-item-list">
            <table class="table table-striped">
                <%
                _.each(orderItems, function(orderItem) {
                var dish = orderItem['dish'];
                if (typeof dish !== "undefined") {
                %>
                <tr>
                    <td><%= dish['name'] %></td>
                    <td><%= orderItem.note %></td>
                    <td><%= orderItem.quantity %></td>
                </tr>
                <% }}); %>
            </table>
        </div>
    </div>
</script>

<script src="/assets/javascripts/jquery-2.0.3.min.js"></script>
<script src="/assets/javascripts/bootstrap.min.js"></script>
<script src="/assets/javascripts/underscore-min.js"></script>
<script src="/assets/javascripts/common.js"></script>
<script src="/assets/javascripts/stall/common.js"></script>
<script src="/assets/javascripts/stall/orderstatus.js"></script>
</body>
</html>