<!DOCTYPE html>
<html>
<head>
    <title>Orders</title>
    <link href="/assets/stylesheets/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/assets/stylesheets/bootstrap-theme.css" rel="stylesheet" media="screen">
    <link href="/assets/stylesheets/main.css" rel="stylesheet" media="screen">
    <style>
        .ready .title {
            background: #B5E2CC;
        }
    </style>
</head>
<body>
<h1>Orders</h1>
<div id="contents">
    <div id="order-list" class="row">
    </div>
</div>
<div id="copyright">
    <p>&copy; 2013 CaMS@@BTU, powered by CatEffect</p>
    <p class="small">* Information displayed in this page is only for authorized administrators.</p>
</div>


<script type="text/html" id="order-template">
    <div id="order-<%= orderId %>" class="col-xs-12 <% if (status == 2) print('ready') %>">
        <div class="widget">
            <div class="title">
                    <span class="icon">
                        <span class="glyphicon glyphicon-book"></span>
                    </span>
                <h3><%= orderId %>: <%= accountString %></h3>
                    <span id="current-status-row"></span>
                    <% if (status < 2) { %>
                    <span class="button">
                        <a href="javascript:" onclick="toReady(<%= orderId %>)">
                            Change to Ready
                        </a>
                    </span>
                    <% } else { %>
                    <span class="button">
                        <a href="javascript:" onclick="toServed(<%= orderId %>)">
                            Change to Served
                        </a>
                    </span>
                    <% } %>
            </div>
            <div id="orderItem-list-<%= orderId %>" class="orderItem-list content">
                <table class="table table-striped">
                    <%
                    _.each(orderItems, function(orderItem) {
                        var dish = orderItem['dish'];
                        if (typeof dish !== "undefined") {
                    %>
                    <tr>
                        <td><%= dish['name'] %></td>
                        <td><%= orderItem.note %></td>
                        <td><%= orderItem.quantity %></td>
                        <td>$<%= displayMoney(dish['finalPrice']) %></td>
                    </tr>
                    <% }}); %>
                </table>
            </div>
        </div>
    </div>
</script>

<script src="/assets/javascripts/jquery-2.0.3.min.js"></script>
<script src="/assets/javascripts/bootstrap.min.js"></script>
<script src="/assets/javascripts/underscore-min.js"></script>
<script src="/assets/javascripts/common.js"></script>
<script src="/assets/javascripts/stall/orders.js"></script>
<script src="/assets/javascripts/stall/common.js"></script>
</body>
</html>