<!DOCTYPE html>
<html>
<head>
    <title>Menu</title>
    <link href="/assets/stylesheets/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/assets/stylesheets/bootstrap-theme.css" rel="stylesheet" media="screen">
    <link href="/assets/stylesheets/main.css" rel="stylesheet" media="screen">
    <link href="/assets/stylesheets/stall/settings.css" rel="stylesheet" media="screen">
</head>
<body>
<h1>Report & Records</h1>
<div id="tabs">
    <a href="javascript:" class="current">Report</a>
    <a href="/stall/records">Records</a>
</div>
<div id="contents">
    <div id="category-list" class="row">
    </div>
</div>
<div id="copyright">
    <p>&copy; 2013 CaMS@@BTU, powered by CatEffect</p>
    <p class="small">* Information displayed in this page is only for authorized administrators.</p>
</div>

<script src="/assets/javascripts/jquery-2.0.3.min.js"></script>
<script src="/assets/javascripts/jquery-ui-1.10.3.custom.js"></script>
<script src="/assets/javascripts/bootstrap.min.js"></script>
<script src="/assets/javascripts/underscore-min.js"></script>
<script src="/assets/javascripts/common.js"></script>
<script src="/assets/javascripts/stall/common.js"></script>
<script src="/assets/javascripts/stall/report.js"></script>
</body>
</html>