<!DOCTYPE html>
<html>
<head>
    <title>Menu</title>
    <link href="/assets/stylesheets/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/assets/stylesheets/bootstrap-theme.css" rel="stylesheet" media="screen">
    <link href="/assets/stylesheets/main.css" rel="stylesheet" media="screen">
</head>
<body>
<h1>Settings</h1>
<div id="tabs">
    <a href="javascript:" class="current">Stall Settings</a>
    <a href="/stall/managers">Managers</a>
</div>
<div id="contents">
    <div class="row">
        <div class="col-xs-12">
            <div class="widget">
                <div class="title">
                    <span class="icon">
                        <span class="glyphicon glyphicon-book"></span>
                    </span>
                    <h3>Basic Info</h3>
                    <span class="stall-info-edit button">
                        <a href="javascript:" onclick="save()">
                            <span class="glyphicon glyphicon-cog"></span>
                            Save
                        </a>
                    </span>
                    <span class="stall-info-ajax button hidden">
                        Success.
                    </span>
                </div>
                <div class="content">
                    <div class="form-group">
                        <label for="inputName">Name</label>
                        <input id="inputName" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="inputImage">Theme Image</label>
                        <input id="inputImage" type="text" class="form-control">
                        <input type="file" name="file" id="inputFile" onchange="chooseImage()">
                    </div>
                    <div class="form-group">
                        <label for="inputPrepaidDiscount">Pre-Paid Card Discount</label>
                        <input id="inputPrepaidDiscount" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="inputStudentDiscount">Student Discount</label>
                        <input id="inputStudentDiscount" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="inputFacultyDiscount">Faculty Discount</label>
                        <input id="inputFacultyDiscount" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="inputStaffDiscount">Staff Discount</label>
                        <input id="inputStaffDiscount" type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="copyright">
    <p>&copy; 2013 CaMS@@BTU, powered by CatEffect</p>
    <p class="small">* Information displayed in this page is only for authorized administrators.</p>
</div>
<script src="/assets/javascripts/jquery-2.0.3.min.js"></script>
<script src="/assets/javascripts/jquery-ui-1.10.3.custom.js"></script>
<script src="/assets/javascripts/bootstrap.min.js"></script>
<script src="/assets/javascripts/underscore-min.js"></script>
<script src="/assets/javascripts/common.js"></script>
<script src="/assets/javascripts/stall/common.js"></script>
<script src="/assets/javascripts/stall/settings.js"></script>
</body>
</html>