<!DOCTYPE html>
<html>
<head>
    <title>Side Bar</title>
    <link href="/assets/stylesheets/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/assets/stylesheets/bootstrap-theme.css" rel="stylesheet" media="screen">
    <link href="/assets/stylesheets/sidebar.css" rel="stylesheet" media="screen">
</head>
<body>
<ul id="menu">
    <li>
        <a href="javascript:" onclick="java.navigate('/stall/dashboard')">
            <span class="glyphicon glyphicon-home"></span>
            <span>Dashboard</span>
        </a>
    </li>
    <li>
        <a href="javascript:">
            <span class="glyphicon glyphicon-list"></span>
            <span>Historical Records</span>
        </a>
    </li>
    <li>
        <a href="javascript:">
            <span class="glyphicon glyphicon-file"></span>
            <span>Customer Feedback</span>
        </a>
    </li>
    <li>
        <a href="javascript:"  onclick="java.navigate('/stall/managers')">
            <span class="glyphicon glyphicon-cog"></span>
            <span>Stall Settings</span>
        </a>
    </li>
    <li>
        <a href="javascript:">
            <span class="glyphicon glyphicon-hand-up"></span>
            <span>Help Centre</span>
        </a>
    </li>
    <li>
        <a href="javascript:" onclick="java.exit();">
            <span class="glyphicon glyphicon-log-out"></span>
            <span>Log out</span>
        </a>
    </li>
</ul>
<script src="/assets/javascripts/jquery-2.0.3.min.js"></script>
<script src="/assets/javascripts/bootstrap.min.js"></script>
<script src="/assets/javascripts/underscore-min.js"></script>
<script src="/assets/javascripts/common.js"></script>
<script src="/assets/javascripts/sidebar.js"></script>
</body>
</html>