<!DOCTYPE html>
<html>
<head>
    <title>Account</title>
    <link href="/assets/stylesheets/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/assets/stylesheets/bootstrap-theme.css" rel="stylesheet" media="screen">
    <link href="/assets/stylesheets/main.css" rel="stylesheet" media="screen">
</head>
<body>
<h1>Account</h1>
<div id="contents">
    <div class="row">
        <div class="col-xs-6">
            <div id="stall-display" class="widget">
                <div class="title">
                    <span class="icon">
                        <span class="glyphicon glyphicon-book"></span>
                    </span>
                    <h3>Top-Up</h3>
                </div>
                <div class="content">
                    <table class="table">
                        <tr>
                            <td>Account Id</td>
                            <td id="tAccountId"></td>
                        </tr>
                        <tr>
                            <td>CurrentB alance</td>
                            <td id="tBalance"></td>
                        </tr>
                        <tr>
                            <td>Top-Up Amount</td>
                            <td>
                                <a href="javascript:">
                                    $50
                                </a>
                                <a href="javascript:">
                                    $200
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div id="transaction-list" class="widget">
                <div class="title">
                    <span class="icon">
                        <span class="glyphicon glyphicon-book"></span>
                    </span>
                    <h3>Transactions</h3>
                </div>
                <div class="content content-loader">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <td>Amount</td>
                            <td>Type</td>
                            <td>Date</td>
                        </tr>
                        </thead>
                        <tbody id="transactions-tbody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
<div id="copyright">
    <p>&copy; 2013 CaMS@@BTU, powered by CatEffect</p>
    <p class="small">* Information displayed in this page is only for authorized administrators.</p>
</div>
-->

<script type="text/html" id="transaction-row">
    <tr>
        <td><%= amount %></td>
        <td>
            <% if (type == 0) {
                print("Top-Up")
            } else {
                print(stallName)
            }
            %>
        </td>
        <td><%= time %></td>
    </tr>
</script>

<script src="/assets/javascripts/jquery-2.0.3.min.js"></script>
<script src="/assets/javascripts/bootstrap.min.js"></script>
<script src="/assets/javascripts/underscore-min.js"></script>
<script src="/assets/javascripts/common.js"></script>
<script src="/assets/javascripts/system/account.js"></script>
</body>
</html>