<!DOCTYPE html>
<html>
<head>
    <title>Managers</title>
    <link href="/assets/stylesheets/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/assets/stylesheets/bootstrap-theme.css" rel="stylesheet" media="screen">
    <link href="/assets/stylesheets/main.css" rel="stylesheet" media="screen">
</head>
<body>
<h1>System Settings</h1>
<div id="tabs">
    <a href="javascript:" class="current">System Managers</a>
    <!--
    <a href="javascript:">New Manager</a>
    <a href="javascript:" onclick="java.setFullScreen(true);">Full Screen</a>
    <a href="javascript:" onclick="java.open('/', 400, 500);">Pop Up</a>
    <a href="javascript:" onclick="java.exit();">Exit</a>
    -->
</div>
<div id="contents">
    <div class="row">
        <div class="col-xs-12">
            <div id="manager-list" class="widget">
                <div class="title">
                    <span class="icon">
                        <span class="glyphicon glyphicon-book"></span>
                    </span>
                    <h3>System Managers</h3>
                    <span class="button">
                        <a href="javascript:" onclick="addManager()">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                            New Manager
                        </a>
                    </span>
                </div>
                <div class="content content-loader">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <td>#</td>
                            <td>Username</td>
                            <td>Operation</td>
                        </tr>
                        </thead>
                        <tbody id="managers-tbody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="copyright">
    <p>&copy; 2013 CaMS@@BTU, powered by CatEffect</p>
    <p class="small">* Information displayed in this page is only for authorized administrators.</p>
</div>
<script type="text/html" id="pop-up-add-manager">
    <div class="widget">
        <div class="title">
            <span class="icon">
                <span class="glyphicon glyphicon-cog"></span>
            </span>
            <h3>New Manager</h3>
            <span class="button">
                <a href="javascript:" onclick="closePopBox()">
                    <span class="glyphicon glyphicon-remove"></span>
                    Cancel
                </a>
            </span>
            <span class="button">
                <a href="javascript:" onclick="doAddManager()">
                    <span class="glyphicon glyphicon-ok"></span>
                    Add
                </a>
            </span>
        </div>
        <div class="content">
            <form role="form">
                <div class="form-group">
                    <label for="inputUsername">Username</label>
                    <input class="form-control" id="inputUsername" placeholder="at least 3 characters">
                </div>
                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input class="form-control" id="inputPassword" placeholder="at least 5 characters">
                </div>
            </form>
        </div>
    </div>
</script>
<script type="text/html" id="pop-up-manager">
    <div class="widget">
        <div class="title">
            <span class="icon">
                <span class="glyphicon glyphicon-cog"></span>
            </span>
            <h3>Edit Manager</h3>
            <span class="button">
                <a href="javascript:" onclick="closePopBox()">
                    <span class="glyphicon glyphicon-remove"></span>
                    Cancel
                </a>
            </span>
            <span class="button">
                <a href="javascript:" onclick="doEditManager(<%- managerId %>)">
                    <span class="glyphicon glyphicon-ok"></span>
                    Save
                </a>
            </span>
        </div>
        <div class="content">
            <form role="form">
                <div class="form-group">
                    <label for="inputUsername">Username</label>
                    <input class="form-control" id="inputUsername" value="<%= username %>">
                </div>
                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input class="form-control" id="inputPassword" placeholder="not change password">
                    <p class="help-block">Leave it blank for not changing.</p>
                </div>
            </form>
        </div>
    </div>
</script>
<script type="text/html" id="pop-up-confirm-delete-manager">
    <div class="widget">
        <div class="title">
            <span class="icon">
                <span class="glyphicon glyphicon-cog"></span>
            </span>
            <h3>Delete Manager?</h3>
            <span class="button">
                <a href="javascript:" onclick="closePopBox()">
                    <span class="glyphicon glyphicon-remove"></span>
                    Cancel
                </a>
            </span>
        </div>
        <div class="content">
            <p>Do you really want to delete the manager <strong><%= username %></strong>?</p>
            <p>NOTE: This action cannot be undo!</p>
            <p>
                <a href="javascript:" class="btn btn-default" onclick="confirmDeleteManager(<%= managerId %>)">
                    <span class="glyphicon glyphicon-trash"></span>
                    Confirm Delete
                </a>
            </p>
        </div>
    </div>
</script>
<script type="text/html" id="manager-row">
    <tr>
        <td><%= managerId %></td>
        <td><%= username %></td>
        <td>
            <a href="javascript:" onclick="editManager(<%= managerId %>)">
                <span class="glyphicon glyphicon-pencil"></span>Edit
            </a>
            <a href="javascript:" onclick="deleteManager(<%= managerId %>)">
                <span class="glyphicon glyphicon-remove"></span>Delete
            </a>
        </td>
    </tr>
</script>
<script src="/assets/javascripts/jquery-2.0.3.min.js"></script>
<script src="/assets/javascripts/bootstrap.min.js"></script>
<script src="/assets/javascripts/underscore-min.js"></script>
<script src="/assets/javascripts/common.js"></script>
<script src="/assets/javascripts/system/managers.js"></script>
</body>
</html>