<!DOCTYPE html>
<html>
<head>
    <title>Manage Managers</title>
    <link href="/assets/stylesheets/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/assets/stylesheets/bootstrap-theme.css" rel="stylesheet" media="screen">
    <link href="/assets/stylesheets/main.css" rel="stylesheet" media="screen">

    <script>
        window.java = {};
        window.auth = {
            username: '@ctx().args.get("auth_username")',
            password: '@ctx().args.get("auth_password")'
        };
    </script>
</head>
<body>
<h1>Manage Managers</h1>
<div id="tabs">
    <a href="#" class="current">Lists</a>
    <a href="#">Add Managers</a>
    <a href="#" onclick="java.exit();">Exit</a>
</div>
<div id="contents">
    <div class="row">
        <div class="col-xs-6">
            <div class="widget">
                <div class="title">
                    <span class="icon">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </span>
                    <h3>Title</h3>
                </div>
                <div class="content">
                    <p>This is the content.</p>
                    <p>This is the content.</p>
                    <p>This is the content.</p>
                    <p>This is the content.</p>
                    <p>This is the content.</p>
                    <p>This is the content.</p>
                    <p>This is the content.</p>
                    <p>This is the content.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="widget">
                <div class="title">
                    <span class="icon">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </span>
                    <h3>Title</h3>
                </div>
                <div class="content">
                    <p>This is the content.</p>
                    <p>This is the content.</p>
                    <p>This is the content.</p>
                    <p>This is the content.</p>
                    <p>This is the content.</p>
                    <p>This is the content.</p>
                    <p>This is the content.</p>
                    <p>This is the content.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="widget">
                <div class="title">
                    <span class="icon">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </span>
                    <h3>Title</h3>
                </div>
                <div class="content">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <td>#</td>
                            <td>Username</td>
                            <td>Type</td>
                            <td>Operation</td>
                        </tr>
                        </thead>
                        <tbody id="managers-tbody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="copyright">
    <p>&copy; 2013 VCBank</p>
    <p class="small">* Information displayed in this page is only for authorized administrators.</p>
</div>
<script type="text/html" id="manager-row">
    <tr>
        <td><%= managerId %></td>
        <td><%= username %></td>
        <td>
            System
        </td>
        <td>
            <a href="#"><span class="glyphicon glyphicon-pencil"></span>Edit</a>
            <a href="#"><span class="glyphicon glyphicon-remove"></span>Delete</a>
        </td>
    </tr>
</script>
<script src="/assets/javascripts/jquery-2.0.3.min.js"></script>
<script src="/assets/javascripts/bootstrap.min.js"></script>
<script src="/assets/javascripts/underscore-min.js"></script>
<script src="/assets/javascripts/main.js"></script>
<script src="/assets/javascripts/managers.js"></script>
</body>
</html>