<!DOCTYPE html>
<html>
<head>
    <title>Manage Managers</title>
    <link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/assets/stylesheets/bootstrap-theme.min.css" rel="stylesheet" media="screen">
    <link href="/assets/stylesheets/main.css" rel="stylesheet" media="screen">
    <script src="/assets/javascripts/bootstrap.min.js"></script>
    <script>
        var java = {};
    </script>
</head>
<body>
<h1>Manage Managers</h1>
<a href="#" onclick="java.exit();">Click</a>
</body>
</html>