<!DOCTYPE html>
<html>
<head>
    <title>Matriculation Cards</title>
    <link href="/assets/stylesheets/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/assets/stylesheets/bootstrap-theme.css" rel="stylesheet" media="screen">
    <link href="/assets/stylesheets/main.css" rel="stylesheet" media="screen">
</head>
<body>
<h1>Matriculation Cards</h1>

<div id="contents">
    <div class="row">
        <div class="col-xs-12">
            <div id="matriculationcards-list" class="widget">
                <div class="title">
                    <span class="icon">
                        <span class="glyphicon glyphicon-book"></span>
                    </span>
                    <h3 id="canteen-name">Loading</h3>
                </div>
                <div class="content content-loader">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <td>Account ID</td>
                            <td>Type</td>
                            <td>Name</td>
                            <td>Card ID</td>
                            <td>Balance</td>
                            <td>Operation</td>
                        </tr>
                        </thead>
                        <tbody id="matriculationcards-tbody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="copyright">
    <p>&copy; 2013 CaMS@@BTU, powered by CatEffect</p>
    <p class="small">* Information displayed in this page is only for authorized administrators.</p>
</div>

<script type="text/html" id="pop-up-confirm-delete">
    <div class="widget">
        <div class="title">
            <span class="icon">
                <span class="glyphicon glyphicon-cog"></span>
            </span>
            <h3>Delete Prepaid Card?</h3>
            <span class="button">
                <a href="javascript:" onclick="closePopBox()">
                    <span class="glyphicon glyphicon-remove"></span>
                    Cancel
                </a>
            </span>
        </div>
        <div class="content">
            <p>Do you really want to delete the prepaid card <strong><%= name %></strong>?</p>
            <p>NOTE: This action cannot be undo!</p>
            <p>
                <a href="javascript:" class="btn btn-default" onclick="confirmDeleteStall(<%= stallId %>)">
                    <span class="glyphicon glyphicon-trash"></span>
                    Confirm Delete
                </a>
            </p>
        </div>
    </div>
</script>

<script type="text/html" id="matriculationcard-row">
    <tr>
        <td>
            <%= accountId %>
        </td>
        <td>
            <%
                if (type == 1) print("Student");
                if (type == 2) print("Faculty");
                if (type == 3) print("Staff");
            %>
        </td>
        <td>
            <%
            if (type == 1) print(student['name']);
            if (type == 2) print(faculty['name']);
            if (type == 3) print(staff['name']);
            %>
        </td>
        <td>
            <%
            if (type == 1) print(student['cardId']);
            if (type == 2) print(faculty['cardId']);
            if (type == 3) print(staff['cardId']);
            %>
        </td>
        <td>
            <%= balance %>
        </td>
        <td>
            <a href="javascript:" onclick="deleteAccount(<%= accountId %>)">
                <span class="glyphicon glyphicon-remove"></span>Delete
            </a>
        </td>
    </tr>
</script>

<script type="text/html" id="pop-up-new-matriculationcard">
    <div class="widget">
        <div class="title">
            <span class="icon">
                <span class="glyphicon glyphicon-cog"></span>
            </span>
            <h3>Add a New Prepaid Card</h3>
            <span class="button">
                <a href="javascript:" onclick="doAddStall()">
                    <span class="glyphicon glyphicon-ok"></span>
                    Create
                </a>
            </span>
            <span class="button">
                <a href="javascript:" onclick="closePopBox()">
                    <span class="glyphicon glyphicon-remove"></span>
                    Cancel
                </a>
            </span>
        </div>
        <div class="content">
            <form role="form">
                <div class="form-group">
                    <label for="inputStallName">Stall Name</label>
                    <input class="form-control" id="inputStallName" name="stallName" placeholder="Stall Name">
                </div>
            </form>
        </div>
    </div>
</script>

<script src="/assets/javascripts/jquery-2.0.3.min.js"></script>
<script src="/assets/javascripts/bootstrap.min.js"></script>
<script src="/assets/javascripts/underscore-min.js"></script>
<script src="/assets/javascripts/common.js"></script>
<script src="/assets/javascripts/system/matriculationcards.js"></script>
</body>
</html>