<!DOCTYPE html>
<html>
<head>
    <title>Stalls</title>
    <link href="/assets/stylesheets/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/assets/stylesheets/bootstrap-theme.css" rel="stylesheet" media="screen">
    <link href="/assets/stylesheets/main.css" rel="stylesheet" media="screen">
</head>
<body>
<h1>Stalls</h1>
<div id="tabs">
    <span id="canteen-list">
    </span>
    <!--
    <a href="javascript:">Manage Canteens</a>
    -->
</div>
<div id="contents">
    <div class="row">
        <div class="col-xs-12">
            <div id="stall-list" class="widget">
                <div class="title">
                    <span class="icon">
                        <span class="glyphicon glyphicon-book"></span>
                    </span>
                    <h3 id="canteen-name">Loading</h3>
                    <span class="button">
                        <a href="javascript:" onclick="newStall()">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                            New Stall
                        </a>
                    </span>
                </div>
                <div class="content content-loader">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <td>Stall</td>
                            <td>Menu</td>
                            <td>Operation</td>
                        </tr>
                        </thead>
                        <tbody id="stalls-tbody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="copyright">
    <p>&copy; 2013 CaMS@@BTU, powered by CatEffect</p>
    <p class="small">* Information displayed in this page is only for authorized administrators.</p>
</div>
<script type="text/html" id="pop-up-confirm-delete">
    <div class="widget">
        <div class="title">
            <span class="icon">
                <span class="glyphicon glyphicon-cog"></span>
            </span>
            <h3>Delete Stall?</h3>
            <span class="button">
                <a href="javascript:" onclick="closePopBox()">
                    <span class="glyphicon glyphicon-remove"></span>
                    Cancel
                </a>
            </span>
        </div>
        <div class="content">
            <p>Do you really want to delete the stall <strong><%= name %></strong>?</p>
            <p>NOTE: This action cannot be undo!</p>
            <p>
                <a href="javascript:" class="btn btn-default" onclick="confirmDeleteStall(<%= stallId %>)">
                    <span class="glyphicon glyphicon-trash"></span>
                    Confirm Delete
                </a>
            </p>
        </div>
    </div>
</script>

<script type="text/html" id="canteen-button">
    <a href="javascript:"
       id="canteen-button-<%= canteenId %>"
       class="canteen-button"
       onclick="loadStalls(<%= canteenId %>)"><%= name %></a>
</script>

<script type="text/html" id="stall-row">
    <tr>
        <td>
            <a href="javascript:" onclick="newWindow('/system/stall#stallId=<%= stallId %>', 1000, 600)">
                <%= name %>
            </a>
        </td>

        <td>
            <a href="javascript:" onclick="newWindow('/order/menu#stallId=<%= stallId %>', 1000, 600)">
                View Menu
            </a>
        </td>
        <td>
            <a href="javascript:" onclick="deleteStall(<%= stallId %>)">
                <span class="glyphicon glyphicon-remove"></span>Delete
            </a>
        </td>
    </tr>
</script>

<script type="text/html" id="pop-up-new-stall">
    <div class="widget">
        <div class="title">
            <span class="icon">
                <span class="glyphicon glyphicon-cog"></span>
            </span>
            <h3>Add a New Stall</h3>
            <span class="button">
                <a href="javascript:" onclick="doAddStall()">
                    <span class="glyphicon glyphicon-ok"></span>
                    Create
                </a>
            </span>
            <span class="button">
                <a href="javascript:" onclick="closePopBox()">
                    <span class="glyphicon glyphicon-remove"></span>
                    Cancel
                </a>
            </span>
        </div>
        <div class="content">
            <form role="form">
                <div class="form-group">
                    <label for="inputStallName">Stall Name</label>
                    <input class="form-control" id="inputStallName" name="stallName" placeholder="Stall Name">
                </div>
            </form>
        </div>
    </div>
</script>

<script src="/assets/javascripts/jquery-2.0.3.min.js"></script>
<script src="/assets/javascripts/bootstrap.min.js"></script>
<script src="/assets/javascripts/underscore-min.js"></script>
<script src="/assets/javascripts/common.js"></script>
<script src="/assets/javascripts/system/stalls.js"></script>
</body>
</html>