<!DOCTYPE html>
<html>
<head>
    <title>Stall</title>
    <link href="/assets/stylesheets/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/assets/stylesheets/bootstrap-theme.css" rel="stylesheet" media="screen">
    <link href="/assets/stylesheets/main.css" rel="stylesheet" media="screen">
</head>
<body>
<h1>Edit Stall</h1>
<div id="contents">
    <div class="row">
        <div class="col-xs-12">
            <div id="stall" class="widget">
                <div class="title">
                    <span class="icon">
                        <span class="glyphicon glyphicon-book"></span>
                    </span>
                    <h3>Information</h3>
                    <span id="stall-info-save" class="button">
                        <a href="javascript:" onclick="saveStall()">
                            <span class="glyphicon glyphicon-floppy-disk"></span>
                            Save
                        </a>
                    </span>
                    <span id="stall-info-ajax" class="button hidden">
                        Saving ...
                    </span>
                </div>
                <div id="stall-info-div" class="content ajax-loader">
                    <form id="stall-info"></form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div id="manager-list" class="widget">
                <div class="title">
                    <span class="icon">
                        <span class="glyphicon glyphicon-book"></span>
                    </span>
                    <h3>Managers</h3>
                    <span class="button">
                        <a href="javascript:" onclick="newManager()">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                            New Manager
                        </a>
                    </span>
                </div>
                <div class="content content-loader">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <td>Username</td>
                            <td>Operation</td>
                        </tr>
                        </thead>
                        <tbody id="managers-tbody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="copyright">
    <p>&copy; 2013 CaMS@@BTU, powered by CatEffect</p>
    <p class="small">* Information displayed in this page is only for authorized administrators.</p>
</div>

<script type="text/html" id="stall-info-template">
    <div class="form-group">
        <label for="inputName">Name</label>
        <input type="text" class="form-control" id="inputName" name="name"
               placeholder="Stall Name" value="<%= name %>">
    </div>

    <div class="form-group">
        <label for="inputDescription">Description</label>
        <textarea class="form-control" id="inputDescription"
                  name="description" placeholder="Description"><%= description %></textarea>
    </div>

    <div class="form-group">
        <label for="inputSort">Sort</label>
        <input type="text" class="form-control" id="inputSort" name="sort"
               placeholder="Sort" value="<%= sort %>">
    </div>

    <div class="form-group">
        <label for="inputImage">Image</label>
        <input type="text" class="form-control" id="inputImage" name="Image"
               placeholder="Image" value="<%= image %>">
    </div>

    <div class="form-group">
        <label for="inputCanteenId">Canteen</label>
        <input type="text" class="form-control" id="inputCanteenId" name="CanteenId"
               placeholder="Canteen Id" value="<%= canteenId %>">
    </div>
</script>

<script type="text/html" id="manager-row">
    <tr>
        <td><%= username %></td>
        <td>
            <a href="javascript:" onclick="editManager(<%= managerId %>)">
                <span class="glyphicon glyphicon-pencil"></span>Edit
            </a>
            <a href="javascript:">
                <span class="glyphicon glyphicon-remove"></span>Delete
            </a>
        </td>
    </tr>
</script>

<script type="text/html" id="pop-up-manager">
    <div class="widget">
        <div class="title">
            <span class="icon">
                <span class="glyphicon glyphicon-cog"></span>
            </span>
            <h3>Edit Manager</h3>
            <span class="button">
                <a href="javascript:" onclick="closePopBox()">
                    <span class="glyphicon glyphicon-remove"></span>
                    Cancel
                </a>
            </span>
            <span class="button">
                <a href="javascript:" onclick="closePopBox()">
                    <span class="glyphicon glyphicon-ok"></span>
                    Save
                </a>
            </span>
        </div>
        <div class="content">
            <form role="form">
                <div class="form-group">
                    <label>Username</label>
                    <input class="form-control username" value="<%= username %>">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input class="form-control password" placeholder="not change password">
                    <p class="help-block">Leave it blank for not changing.</p>
                </div>
            </form>
        </div>
    </div>
</script>

<script type="text/html" id="pop-up-new-manager">
    <div class="widget">
        <div class="title">
            <span class="icon">
                <span class="glyphicon glyphicon-cog"></span>
            </span>
            <h3>New Manager</h3>
            <span class="button">
                <a href="javascript:" onclick="closePopBox()">
                    <span class="glyphicon glyphicon-remove"></span>
                    Cancel
                </a>
            </span>
            <span class="button">
                <a href="javascript:" onclick="closePopBox()">
                    <span class="glyphicon glyphicon-ok"></span>
                    Save
                </a>
            </span>
        </div>
        <div class="content">
            <form role="form">
                <div class="form-group">
                    <label>Username</label>
                    <input class="form-control username" placeholder="Username">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input class="form-control password" placeholder="Password">
                </div>
            </form>
        </div>
    </div>
</script>

<script src="/assets/javascripts/jquery-2.0.3.min.js"></script>
<script src="/assets/javascripts/bootstrap.min.js"></script>
<script src="/assets/javascripts/underscore-min.js"></script>
<script src="/assets/javascripts/common.js"></script>
<script src="/assets/javascripts/system/stall.js"></script>
</body>
</html>