<!DOCTYPE html>
<html>
<head>
    <title>Transaction Records</title>
    <link href="/assets/stylesheets/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/assets/stylesheets/bootstrap-theme.css" rel="stylesheet" media="screen">
    <link href="/assets/stylesheets/main.css" rel="stylesheet" media="screen">
</head>
<body>
<h1>Transaction</h1>
<div id="search tabs">

</div>

<div id="contents">
    <div class="row">
        <div class="col-xs-12">
            <div id="transaction-list" class="widget">
                <div class="title">
                    <span class="icon">
                        <span class="glyphicon glyphicon-book"></span>
                    </span>
                    <h3>Transactions</h3>
                </div>
                <div class="content content-loader">
                        <span id="constrain-list"  class="col-xs-12">
                            <span id="constrain-canteen" class="col-xs-2">Canteen
                                <span class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                            id="selected-canteenconstrain">
                                        ALL <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" id="constrain-canteenlist">
                                        <li><a onclick="setCanteenConstrain(-1,'ALL')">ALL</a></li>
                                    </ul>
                                </span>
                            </span>
                            <span id="constrain-stall" class="col-xs-2">Stall
                                <span class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                            id="selected-stallconstrain">
                                        ALL <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" id="constrain-stalllist">
                                        <li><a onclick="setStallConstrain(-1,'ALL')">ALL</a></li>
                                    </ul>
                                </span>
                            </span>
                        </span>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <td>Transaction ID</td>
                            <td>Account ID</td>
                            <td>Type</td>
                            <td>Amount</td>
                            <td>Date & Time</td>
                            <td>Operation</td>
                        </tr>
                        </thead>
                        <tbody id="transaction-tbody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="copyright">
    <p>&copy; 2013 CaMS@@BTU, powered by CatEffect</p>
    <p class="small">* Information displayed in this page is only for authorized administrators.</p>
</div>

<script type="text/html" id="transaction-row">
    <tr>
        <td><%= transactionId %></td>
        <td><%= accountId %></td>
        <td><%= type %></td>
        <td><%= amount %></td>
        <td><%= displayTime(time) %></td>
        <td>View Order Details</td>
    </tr>
</script>

<script type="text/html" id="canteenConstrain-row">
    <li><a onclick="setCanteenConstrain(<%= canteenId%>,'<%= name%>')"><%= name%></a></li>
</script>

<script type="text/html" id="stallConstrain-row">
    <li><a onclick="setStallConstrain(<%= stallId%>,'<%= name%>')"><%= name%></a></li>
</script>

<!--
<script type="text/html" id="pop-up-new-stall">
    <div class="widget">
        <div class="title">
            <span class="icon">
                <span class="glyphicon glyphicon-cog"></span>
            </span>
            <h3>Add a New Stall</h3>
            <span class="button">
                <a href="javascript:" onclick="doAddStall()">
                    <span class="glyphicon glyphicon-ok"></span>
                    Create
                </a>
            </span>
            <span class="button">
                <a href="javascript:" onclick="closePopBox()">
                    <span class="glyphicon glyphicon-remove"></span>
                    Cancel
                </a>
            </span>
        </div>
        <div class="content">
            <form role="form">
                <div class="form-group">
                    <label for="inputStallName">Stall Name</label>
                    <input class="form-control" id="inputStallName" name="stallName" placeholder="Stall Name">
                </div>
            </form>
        </div>
    </div>
</script>
!-->

<!--
<script type="text/html" id="pop-up-confirm-delete">
    <div class="widget">
        <div class="title">
            <span class="icon">
                <span class="glyphicon glyphicon-cog"></span>
            </span>
            <h3>Delete Stall?</h3>
            <span class="button">
                <a href="javascript:" onclick="closePopBox()">
                    <span class="glyphicon glyphicon-remove"></span>
                    Cancel
                </a>
            </span>
        </div>
        <div class="content">
            <p>Do you really want to delete the stall <strong><%= name %></strong>?</p>
            <p>NOTE: This action cannot be undo!</p>
            <p>
                <a href="javascript:" class="btn btn-default" onclick="confirmDeleteStall(<%= stallId %>)">
                    <span class="glyphicon glyphicon-trash"></span>
                    Confirm Delete
                </a>
            </p>
        </div>
    </div>
</script>

<script type="text/html" id="canteen-button">
    <a href="javascript:"
       id="canteen-button-<%= canteenId %>"
       class="canteen-button"
       onclick="loadStalls(<%= canteenId %>)"><%= name %></a>
</script>
!-->

<script src="/assets/javascripts/jquery-2.0.3.min.js"></script>
<script src="/assets/javascripts/bootstrap.min.js"></script>
<script src="/assets/javascripts/underscore-min.js"></script>
<script src="/assets/javascripts/common.js"></script>
<script src="/assets/javascripts/system/transactions.js"></script>
</body>
</html>